frameworks/boardgamesgdk/.idea/
*.iml
frameworks/boardgamesgdk/assets/target/
frameworks/boardgamesgdk/html/target/
frameworks/boardgamesgdk/core/target/
games/boardgames/gametemplate/.idea/
games/boardgames/gametemplate/assets/target/
games/boardgames/gametemplate/html/target/
games/boardgames/gametemplate/core/target/
games/boardgames/gametemplate/java/target/
games/boardgames/ludo/.idea/
games/boardgames/ludo/html/target/
games/boardgames/ludo/android/target/
games/boardgames/ludo/core/target/
games/boardgames/ludo/assets/target/
games/boardgames/gametemplate/android/target/
frameworks/boardgamesgdk/java/target/
